[Unit]
Description=Zookeeper service
After=network.target

[Service]
User=zookeeper
Group=zookeeper
SyslogIdentifier=zookeeper
EnvironmentFile=/etc/sysconfig/zookeeper
ExecStart=/usr/bin/java -Xmx${ZK_HEAP_LIMIT} -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.local.only=false -Dlog4j.configuration=file:///etc/zookeeper/log4j.properties org.apache.zookeeper.server.quorum.QuorumPeerMain /etc/zookeeper/zoo.cfg
ExecStartPost=/usr/bin/wait4service localhost 2181
# stupid java exit codes
SuccessExitStatus=130 SIGINT
SuccessExitStatus=143 SIGTERM

[Install]
WantedBy=multi-user.target
