[Unit]
Description=Zookeeper service
After=network.target

[Service]
User=zookeeper
Group=zookeeper
SyslogIdentifier=zookeeper
EnvironmentFile=/etc/sysconfig/zookeeper
ExecStart=/usr/libexec/zookeeper
ExecStartPost=/usr/bin/wait4service localhost 2181
# stupid java exit codes
SuccessExitStatus=130 SIGINT
SuccessExitStatus=143 SIGTERM

[Install]
WantedBy=multi-user.target
